.form {
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(226, 21%, 85%);
    border: 3px solid #1a28ad;
    border-radius: 20px;
}

.form__header {
    font-size: 20pt;
    color: #1a28ad;
}

.form__label {
    font-size: small;
    margin: 4px;
}

.form__input {
    display: block;
    width: 50%;
    min-width: 150px;
    flex-basis: 30px;
    border: 1px solid #1a28ad;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form__button {
    width: 80%;
    min-width: 150px;
    flex-basis: 30px;
    margin: 20px;
    background-color: #1a28ad;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 0.5px 2px black;
    color: white;
}

.form__button:active {
    box-shadow: 0px 0px 2px black;
}