html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-image: url("./images/bg_img.png");
  background-position: center 100px;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
